.top-container {
  background-image: url("./src/images/banner.jpeg");
  width: 100%;
  background-size: cover;
  background-position: center, center;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  width: 100%;
}
header {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  position: sticky;
}
#logo {
  width: 185px;
  margin-left: 2rem;
  margin-top: 1rem;
}
#logo:hover {
  cursor: pointer;
}
.welcome-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.welcome-banner button {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: #fec800;
  color: white;
  height: 70px;
  width: 235px;
  padding: 20px 40px;
  text-align: center;
  border-radius: 5px;
}
.welcome-banner button:hover {
  cursor: pointer;
  background-color: #b18d0d;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  width: 35%;
  margin-right: 3rem;
}
.nav-links a {
  text-decoration: none;
  color: white;
}
.nav-links p:hover {
  color: #fec800;
  cursor: pointer;
}
#big {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: 700;
  margin: 0 0 64px;
}
#cursive {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  font-size: 36px;
  margin: 0px 0px 32px;
}

.services {
  height: 90vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: auto;
}
.top {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
}
.top .title {
  padding-top: 35px;
  font-size: 2.5rem;
}
.gray-text {
  color: #6c757d;
  font-family: "Roboto Slab", serif;
}
#mini-description {
  margin-top: -15px;
}
.bottom {
  display: flex;
  justify-content: space-around;
}
.bottom h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.cart,
.comp,
.security {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fec800;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.circle img {
  height: 75px;
  width: 75px;
  color: white;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1500px;
  /* width: 85%; */
  background-color: #f8f9fa;
  margin: auto;
}
.portfolio .title {
  padding-top: 35px;
}
.row-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.row-1,
.row-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  /* height: 40vh; */
}
.row-1 img {
  width: 100%;
  height: 65%;
}
.row-2 img {
  width: 100%;
  height: 65%;
}
.row-1 .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 375px;
  width: 350px;
  background: white;
  box-shadow: 0 0 0 0.2;
  margin: 1rem;
}
.row-2 .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 375px;
  width: 350px;
  background: white;
  box-shadow: 0 0 0 0.5;
  margin: 1rem;
}
/* .card img:hover {
  background: rgba(255, 200, 0, 0.9);
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
} */
.italic {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  color: #6c757d;
  font-size: 16px;
}
.card h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: -10px;
}

.about {
  width: 100%;
  background: white;
}
.team {
  height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
}
.team-display {
  display: flex;
  height: 500px;
  width: 90vw;
  margin: auto;
  padding: 3rem;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin: auto;
}
.feature img {
  object-fit: cover;
  height: 215px;
  width: 215px;
  border-radius: 50%;
  border: 7px solid #dfe0e1;
}
.feature .italic {
  margin-top: -15px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
}
.feature h2 {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
}
.team-bottom {
  text-align: center;
  margin: auto;
  margin-bottom: 5rem;
  width: 80vw;
}
